<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="Add-Employee">Add Employee <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="emp-list">Emplyee-list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="direc-struc">Structure-Dir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="data-bind">Data_binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="attri-direc">Attri-binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="if">IfComponent</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipe</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="form">Form</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="r-form">R-Form</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="get-api">Get-API</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="post-api">post-API</a>
          </li>

          
        
      </ul>
      <form>
        <button (click)="logoff()">Logout</button>
      </form>
    </div>
  </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>