<div><app-alert [alerttype]="'success'" [message]="'This the get Pagee'"></app-alert></div>

<div class="col2">
    <button (click)="getalluser()">Get-User</button>
</div>
<div class="form-select">
    <select>
        @for (item of userlist; track $index) {
        <option> {{item.id}}</option>   
        <option> {{item.username}}</option>  
        <option> {{item.name}}</option>  
        <!-- <option> {{item.id}}</option>    -->
        }
    </select>
</div>

<div>
    <button (click)="getallcustomer()">GetCustomer</button>
</div>
<!-- <div>
    <select>
        @for (item of customer; track $index) {
            <option>{{item.password}}</option>
        }
    </select>
</div> -->

<div class="row"></div>
    <div class="col-5">
        <table>
            <thead>
           <tr>
            <th>Srno</th>
            <th>Name</th>
            <th>City</th>
            <th>Status</th>
           </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let item of customer">
                <td>{{ item.custId }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.mobile }}</td> 
                <!-- <td>{{ item.role }}</td>  -->
            </tr>
        </tbody>
                
        </table>
        </div>