<form #form="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input type="text" name="firstname"  #fName="ngModel" [(ngModel)]="studentobj.firstname" class="form-control" id="inputEmail4" placeholder="First Name" required minlength="5">
      </div>
      <div class="text-danger">
        @if((fName.touched || fName.dirty) && fName.errors?.['required'])
        {
            <span>This is required</span>
        }
        @else if((fName.touched || fName.dirty) && fName.errors?.['minlength'])
        {
            <span>Min 5 Character required</span>
        }
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last Name</label>
        <input type="text" name="lastname" [(ngModel)]="studentobj.lastname" class="form-control" id="inputPassword4" placeholder="Last Name">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputAddress">Username</label>
      <input type="text" name="Username" [(ngModel)]="studentobj.Username" class="form-control" id="inputAddress" placeholder="Username">
    </div>
    
    <div class="form-group">
      <label for="inputAddress2">City</label>
      <input type="text" name="lastname"[(ngModel)]="studentobj.city" class="form-control" id="inputAddress2" placeholder="City">
    </div>
    
      
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" name="state" [(ngModel)]="studentobj.state" class="form-control">
          <option selected>Choose...</option>
          <option>Maharashtra</option>
          <option>Goa</option>
          <option>MP</option>
        </select>
      </div>

    
    <button (click)="onsubmit()" [disabled]="form.invalid">Submit</button>
    <button (click)="onreset()" >Reset</button>
  </form>

  <div>{{datasaveoobj|json}}</div>
  